<p-dataTable [value]="schoolYears" selectionMode="single" scrollable="true" scrollHeight="200px"
  [(selection)]="selectedSchoolYear" dataKey="id"
     [responsive]="true">
    <p-header>School Year Maintenance</p-header>
    <p-column field="schoolYear" header="Label"></p-column>
    <p-column field="startDateFormatted" header="Start"></p-column>
    <p-column field="endDateFormatted" header="End"></p-column>
    <p-footer><div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-plus" style="float:left"
                  (click)="showDialog('Add')" label="Add"></button>
                <button type="button" pButton icon="fa-edit" style="float:left"
                  (click)="showDialog('Modify')" label="Modify" [disabled]="!selectedSchoolYear"></button>
                <button type="button" pButton icon="fa-remove" style="float:left"
                  (click)="showDialog('Delete')" label="Delete" [disabled]="!selectedSchoolYear"></button>
              </div>
    </p-footer>
</p-dataTable>

<p-dialog header="School Year {{crudMode}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
    [modal]="true">
  <!-- <form [formGroup]="schoolYearForm" (ngSubmit)="onSubmit()"> -->
      <div class="ui-g">
            <div class="ui-g-4"><label for="schoolYear">School year</label></div>
            <div class="ui-g-8"><input pInputText id="schoolYear" [value]="selectedSchoolYear.schoolYear"
                [readonly]="crudMode == 'Delete'"/></div>
            <div class="ui-g-4"><label for="startDate">Start date</label></div>
            <div class="ui-g-8">
                <p-calendar [(ngModel)]="selectedSchoolYear.startDate" [monthNavigator]="true" [yearNavigator]="true"
                    yearRange="2015:2030" dateFormat="M d, yy" [showIcon]="true" readonlyInput="readonlyInput"
                    id="startDateId" appendTo="body"></p-calendar></div>
      </div>
      <!--  <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="!schoolYearForm.controls['startDate'].valid &&
                            schoolYearForm.controls['startDate'].dirty">
                    <i class="fa fa-close"></i>
                    {{schoolYearForm.controls['startDate'].errors['dateValidatorMessage']}}
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="endDate">End date</label></div>
            <div class="ui-grid-col-8"><input pInputText id="endDate" formControlName="endDate"  [readonly]="crudMode == 'Delete'"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="!schoolYearForm.controls['endDate'].valid &&
                            schoolYearForm.controls['endDate'].dirty">
                    <i class="fa fa-close"></i>
                    {{schoolYearForm.controls['endDate'].errors['dateValidatorMessage']}}
                </div>
            </div>
        </div> -->
    <!-- </div> -->
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" label="Cancel" (click)="onCancel()"></button>
            <button pButton type="submit" label="Submit" [disabled]="!selectedSchoolYear.schoolYear != null && (crudMode == 'Add' || crudMode == 'Modify')"></button>
        </div>
    </p-footer>
  <!-- </form> -->
<!--<ul>
  <li>{{ schoolYear.schoolYear }}</li>
  <li>{{ schoolYear.startDate }}</li>
  <li>{{ schoolYear.startDate }}</li>
</ul>  -->
</p-dialog>