<p-dataTable [value]="schoolYears" selectionMode="single" scrollable="true" scrollHeight="200px"
  [(selection)]="selectedSchoolYear"
     [responsive]="true">
    <p-header>School Year Maintenance</p-header>
    <p-column field="schoolYear" header="Label" [sortable]="true"></p-column>
    <p-column field="startDateFormatted" header="Start" [sortable]="true"></p-column>
    <p-column field="endDateFormatted" header="End" [sortable]="true"></p-column>
    <p-footer><div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-plus" style="float:left"
                  (click)="showDialog('Add')" label="Add"></button>
                <button type="button" pButton icon="fa-edit" style="float:left"
                  (click)="showDialog('Modify')" label="Modify" [disabled]="!selectedSchoolYear"></button>
                <button type="button" pButton icon="fa-remove" style="float:left"
                  (click)="showDialog('Delete')" label="Delete" [disabled]="!selectedSchoolYear"></button>
              </div>
    </p-footer>
</p-dataTable>

<p-dialog header="School Year {{crudMode}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <form [formGroup]="schoolYearForm" (ngSubmit)="onSubmit()">
    <div class="ui-grid ui-grid-responsive-pad ui-fluid"> 
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="schoolYear">School year</label></div>
            <div class="ui-grid-col-8"><input pInputText id="schoolYear" formControlName="schoolYear" [readonly]="crudMode == 'Delete'"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12"><div class="ui-message ui-messages-error ui-corner-all"
                                            *ngIf="!schoolYearForm.controls['schoolYear'].valid &&
                                                    schoolYearForm.controls['schoolYear'].dirty">
                                            <i class="fa fa-close"></i>
                                            School year is required 
                                       </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="startDate">Start date</label></div>
            <div class="ui-grid-col-8"><input pInputText id="startDate" formControlName="startDate" 
                [readonly]="crudMode == 'Delete'" (blur)="startDateOnBlur()"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="!schoolYearForm.controls['startDate'].valid &&
                            schoolYearForm.controls['startDate'].dirty">
                    <i class="fa fa-close"></i>
                    {{schoolYearForm.controls['startDate'].errors['dateValidatorMessage']}}
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="endDate">End date</label></div>
            <div class="ui-grid-col-8"><input pInputText id="endDate" formControlName="endDate"  [readonly]="crudMode == 'Delete'"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="!schoolYearForm.controls['endDate'].valid &&
                            schoolYearForm.controls['endDate'].dirty">
                    <i class="fa fa-close"></i>
                    {{schoolYearForm.controls['endDate'].errors['dateValidatorMessage']}}
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" label="Cancel" (click)="onCancel()"></button>
            <button pButton type="submit" label="Submit" [disabled]="!schoolYearForm.valid && (crudMode == 'Add' || crudMode == 'Modify')"></button>
        </div>
    </p-footer>
  </form>
<!--<ul>
  <li>{{ schoolYear.schoolYear }}</li>
  <li>{{ schoolYear.startDate }}</li>
  <li>{{ schoolYear.startDate }}</li>
</ul>  -->
</p-dialog>