<p-dataTable [value]="schoolYears" selectionMode="single" scrollable="true" scrollHeight="200px"
  [(selection)]="selectedSchoolYear" (onRowSelect)="onRowSelect($event)"
     [responsive]="true">
    <p-header>School Year Maintenance</p-header>
    <p-column field="schoolYear" header="Label" [sortable]="true"></p-column>
    <p-column field="startDateFormatted" header="Start" [sortable]="true"></p-column>
    <p-column field="endDateFormatted" header="End" [sortable]="true"></p-column>
    <p-footer><div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-plus" style="float:left"
                  (click)="showDialogToAdd()" label="Add"></button>
              </div>
    </p-footer>
</p-dataTable>

<p-dialog header="School Year" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <form [formGroup]="schoolYearForm" (ngSubmit)="onSubmit(schoolYearForm.value)">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="schoolYear">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="schoolYear">School year</label></div>
            <div class="ui-grid-col-8"><input pInputText id="schoolYear" formControlName="schoolYear" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="startDate">Start date</label></div>
            <div class="ui-grid-col-8"><input pInputText id="startDate" formControlName="startDate" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="endDate">End date</label></div>
            <div class="ui-grid-col-8"><input pInputText id="endDate" formControlName="endDate" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="submit" pButton icon="fa-close" label="Delete" [disabled]="!schoolYearForm.valid"></button>
            <button type="submit" pButton icon="fa-check" label="Save" [disabled]="!schoolYearForm.valid"></button>
            <button pButton type="submit" label="Submit" [disabled]="!schoolYearForm.valid"></button>
        </div>
    </p-footer>
  </form>
<!--<ul>
  <li>{{ schoolYear.schoolYear }}</li>
  <li>{{ schoolYear.startDate }}</li>
  <li>{{ schoolYear.startDate }}</li>
</ul>  -->
</p-dialog>