<router-outlet></router-outlet>
<ul>
<li><a routerLink="/inputText" routerLinkActive="active">input text</a></li>
<li><a routerLink="/datatableBasic" routerLinkActive="active">datatable basic</a></li>
<li><a routerLink="/datatableScrollable" routerLinkActive="active">datatable scrollable</a></li>
<li><a routerLink="/button" routerLinkActive="active">button</a></li>
<li><a routerLink="/dialog" routerLinkActive="active">dialog</a></li>
<li><a routerLink="/datatableCrud" routerLinkActive="active">datatable crud</a></li>
<li><a routerLink="/picklist" routerLinkActive="active">picklist</a></li></ul>